<header class="cabecalho">

    <div class="container-grid header-flex">
        <img class="logo" src="/assets/image-e-players/logo.svg" title="Logotipo E-Players"
            alt="Imagem do Logo do E-Players">

        <nav class="menu a">
            <a routerLink="">Início</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/produto">Produto</a>
            <a href="">Resultado</a>
            <a href="">Notícias</a>
        </nav>
        <!--  -->
        <img onclick="abreFechaMenu();" class="menu-bars" src="/assets/image-e-players/bars.svg" alt="">
    </div>


</header>